/*登录样式*/
html,body{
	width:100%;
	height:100%;
	font-family: microsoft yahei,ST_heiti;
}
h1{
	margin: 0px;
	padding: 0px;
	color:#fff;
}
body {
	background: url(../img/login_bg_1.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	background-size: 1400px;
	text-align: center;
}
.login_content {
	width:800px;
	height: 400px;
	position: relative;
	left: 50%;
	top: 50%;
	margin:-200px 0 0 -400px;
	text-align: center;
	padding-top: 30px;
}
#login_form{
	margin-top: 10px;
	padding-bottom: 40px;
}
#login_name{
	margin-top: 10px;
	height: 40px;
	width: 400px;
	background:transparent;
	color: #fff;
	padding-left: 15px;
	font-family: microsoft yahei,ST_heiti;
	border:1px solid #ccc;
	border-radius: 5px;
}
#login_password{
	margin-top: 30px;
	height: 40px;
	width: 400px;
	background:transparent;
	color: #fff;
	padding-left: 15px;
	font-family: microsoft yahei,ST_heiti;
	border:1px solid #ccc;
	border-radius: 5px;

}
.login_btn{
	margin-top: 30px;
	width: 415px;
	padding:7px 0 7px 0;
	text-align: center;
	font-family: microsoft yahei,ST_heiti;
	color: #fff;
	background: #FF4200;
	border: 1px solid #FF4200;
	border-radius: 7px;
	font-size: 22px;
}
.forget_password{
	margin-top: 10px;
	width: 180px;
	font-family: microsoft yahei,ST_heiti;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	margin-right: 100px;
}
.login_content a:hover{
	color: #ccc;
	text-decoration:underline;
}
.register{
	margin-top: 10px;
	width: 180px;
	text-align: center;
	font-family: microsoft yahei,ST_heiti;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	margin-left: 100px;
}